<ion-view title="123 Fakename St.">
	<ion-content class="userAuth address-details">
		<div class="address-details-header primary-color" style="display:inline-block; width:100%; text-align:center;">
			<h2 class="title" style="display:inline-block; width:90%;color:white;">Address Details</h2><i class="icon ion-plus-round"></i>
		</div>

		<div class="address-information">
			<h3 class="section-header padding">Address Information</h3>		
			<div class="list section-content padding">
				<span class="span1">
					<label class="item-stacked-label">
						<span class="input-label">Address</span>
						<input type="text">	
					</label>

					<label class="item-stacked-label">
						<span class="input-label">City</span>
						<input type="text">
					</label>
				</span>

				<span class="span2">
					<label class="item-stacked-label">
						<span class="input-label">Province/State</span>
						<input type="text">
					</label>

					<label class="item-stacked-label">
						<span class="input-label">Postal/Zip Code</span>
						<input type="text">
					</label>

					<label class="item-stacked-label">
						<span class="input-label">Country</span>
						<input type="text">
					</label>
				</span>
			</div>
		</div>

		<div class="important-information">
			<h3 class="section-header padding">Important Information</h3>
				<div class="list section-content padding">
					<span class="span1">
						<label class="item-stacked-label">
							<span class="input-label">Property Type</span>
							<select>
								<option>Condo</option>
								<option>Town House</option>
								<option>Detached Home</option>
							</select>
						</label>

						<label class="item-stacked-label">
							<span class="input-label">Builder/Developer</span>
							<input type="text">
						</label>

						<label class="item-stacked-label">
							<span class="input-label">Age</span><input type="text">
						</label>
					</span>

					<label>
						Move/Closing Date
						<select>
							<option>Tuesday, 10 November 2015</option>
							<option>Tuesday, 17 November 2015</option>
							<option>Tuesday, 24 November 2015</option>
						</select>
					</label>

					<span class="span2">
						<label class="item-stacked-label">
							<span class="input-label">Purchase Price</span>
							<input type="text">
						</label>

						<label class="item-stacked-label">
							<span class="input-label">Deposit Amount</span>
							<input type="text">
						</label>

						<label class="item-stacked-label">
							<span class="input-label">Down Payment</span>
							<input type="text">
						</label>
					</span>

					<span class="span3">
						<label class="item-stacked-label">
							<span class="input-label">Amoritization Period</span>
							<input type="text">
						</label>

						<label class="item-stacked-label">
							<span class="input-label">Mortgage Term</span>
							<input type="text">
						</label>
					</span>

					<label>
						<span class="input-label">Note</span>
						<textarea rows="4" name="Note"></textarea>
					</label>
				</div>
		</div>

		<div class="additional-information">
			<h3 class="section-header padding">Additional Information</h3>	
				<div class="section-content padding">
					<label>
						<span class="input-label">Legal Description</span>
						<textarea rows="4" name="LegalDescription"></textarea>
					</label>

					<span class="span1">
						<label class="item-stacked-label">
							<span class="input-label">Condo Corporation No.</span>
							<input type="text">
						</label>

						<label class="item-stacked-label">
							<span class="input-label">Lot Size</span>
							<input type="text">
						</label>
					</span>

					<span class="span2">
						<label class="item-stacked-label">
							<span class="input-label">Square Footage</span>
							<input type="text">
						</label>

						<label class="item-stacked-label">
							<span class="input-label">Frontage</span>
							<input type="text">
						</label>
					</span>

					<span class="span3">
						<label class="item-stacked-label">
							<span class="input-label">Parking Space No.</span>
							<input type="text">
						</label>
						<label class="item-stacked-label">
							<span class="input-label">Parking Space Cost</span>
							<input type="text">
						</label>
					</span>

					<label>
						<span class="input-label">Parking Legal Description</span>
						<textarea rows="4" name="parkingLegalDescription"></textarea>
					</label>

					<span class="span4">
						<label class="item-stacked-label">
							<span class="input-label">Locker No.</span>
							<input type="text">
						</label>

						<label class="item-stacked-label">
							<span class="input-label">Locker Cost</span>
							<input type="text">
						</label>
					</span>

					<label>
						<span class="input-label">Locker Legal Description</span>
						<textarea rows="4" name="lockerLegalDescription"></textarea>
					</label>
				</div>
		</div>

		<span class="btm-buttons padding">
			<button class="button button-assertive">Delete</button>
			<button class="button progress-button">Update</button>
		</span>
	</ion-content>
</ion-view>