<ion-view hide-nav-bar="false" view-title="YOU'RE ALMOST DONE!" class="userAuth">
	<ion-content>
		<img src="img/Icon_2StepNav_01.png" style="display:block;width:25%;margin:0 auto;">

		<p>All we need now is the address of your most recently acquired property. Until this setup is complete, you will not be able to use your account. </p>
		<p>It should take less than 2 minutes</p>

		<button class="button button-full progress-button" ui-sref="home.client-step2">Next</button>	
	</ion-content>
</ion-view>