<ion-view title="123 Fakename St. Toronto">
	<ion-content class="connect-with-my-agent">
		<div class="address-details-header primary-color" style="display:inline-block; width:100%; text-align:center;">
			<h2 class="title" style="display:inline-block; width:90%;color:white;">CONNECT WITH MY AGENT</h2>
		</div>

		<div class="section-content">
			
			<div class="agent-header">
				<div class="agent-image-container">
					<img class="agent-image" src="img/realtor_profile.jpg" style="border-radius:50%">
				</div>

				<h3>Name</h3>
				<p>Specify a Status Message(e.g."Remember to set your clocks back 1 hour and a whole bunch of text no one lorem ipsum dolom amet spiritus sancti!")</p>
				<span><p>Sent Message</p><img src="img/Icon_sent_message.png"></span>
			</div>

			<div class="agent-info">
				<div>
					<span class="agent-phone-number"><p>Tel: 000-000-0000</p> <p>Cel: 000-000-0000</p></span>
					<p class="agent-email">Email: name@email.com</p>
				</div>

				<div class="agent-bio">
					<p class="agent-bio-header">About me</p>
					<p class="agent-bio-text">Spoecify a short bio Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ipsum quis nunc sodales lobortis et id velit. Ut cursus viverra nunc, non condimentum justo condimentum eget</p>
				</div>

				<div class="agent-company-info">
					<img class="agent-company-logo">
					<div class="agent-company-contact">
						<p class="company-name">Company Name</p>
						<p>000-000-0000/000-000-0000</p>
						<p>000 street, Unit 0000, Toronto, ON. Canada M2J 3M2</p>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>