<ion-side-menus enable-menu-with-back-views>
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menu"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ui-sref="dashboard.client-dashboard">
          My Journal Dashboard
        </ion-item>
        <ion-item menu-close ui-sref="dashboard.address-details">
          Address Details
        </ion-item>
        <ion-item menu-close ui-sref="dashboard.connect-with-my-agent">
          Connect With My Agent
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Real Estate Dictionary 
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          To Do Lists
        </ion-item>
        <ion-item menu-close href="#">
          Decorating Plans
        </ion-item>
        <ion-item menu-close href="">
          Manage Dimensions
        </ion-item>
        <ion-item menu-close ui-sref="dashboard.room-photos">
          Room Photos
        </ion-item>
        <ion-item menu-close href="">
          My Service Providers
        </ion-item>
        <ion-item menu-close href="">
          Mortgage Principal Tracker
        </ion-item>
        <ion-item menu-close href="">
          Reminders
        </ion-item>
        <ion-item menu-close href="">
          Notes
        </ion-item>
        <ion-item menu-close href="">
          Local Directory
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
