<ion-view view-title="You're Almost Done" hide-nav-bar="false">
	<ion-content>
		<form style="margin:10px;">
			<h4>Company/Brokerage Logo</h4>	
			<div class="item item-input-inset">
				<label class="item-input-wrapper">
					<input type="text" class="padding" placeholder="URL">
				</label>
				<button class="button button-small" >Upload</button>
			</div>
			
			<div class="company-info">
				<h4>Company/Brokerage Address</h4>
				<input type="text" placeholder="Company/Brokerage Name" ng-model="user.companyName">
				<input type="text" placeholder="Address" ng-model="user.address">
				<input type="number" placeholder="Telephone" ng-model="user.telephone">
				<span>
					<select ng-options="c for c in countries" ng-model="user.companyCountry"><option value="" disabled selected>Country</option>
					</select>
					<select ng-options="p for p in canadaProvinces" ng-model="user.state"><option value="" disabled selected>Province/State</option></select>
				</span>
				<div class="item item-input-inset"><!-- companyCity????? -->
					<input class="item-input-wrapper" style="margin:5px;" type="text" ng-model="user.companyCity" placeholder="City">
					<input class="item-input-wrapper" style="margin:5px;" type="text" placeholder="Postal Code/ Zip" ng-model="user.postalCode">
				</div>

				<input placeholder="Website URL" ng-model="user.webURL" style="width:100%;">
				<input type="submit" class="button button-balanced button-full" value="Continue" style="width:100%;" ng-click="addUser(user)">
			</div>
		</form>
		User info: {{user}}
	</ion-content>
</ion-view>
<!-- FORM INPUTS NEED WORK CSS-->