/* Empty. Add your own CSS if you like */
.status-bar{
  background-color: #636363;
}
/*Style for tab*/
.bar.bar-stable{
  background-color: #636363;
}
/*Style for tab text and button*/
.bar.bar-stable .title, .bar.bar-stable .button.button-clear{
  color: #fff;
  text-align: center;
}
.primary-color{
  background-color: #ffa801;
}
.primary-background-color{
  color: #2f2f2f;
}

/*Styles for menu*/
.side-menu{
  background-color: black;
}
.side-menu .item-content{
  background-color: black;
  color: rgb(255,255,255);
  display: inline-flex;
  width: 100%;
  align-items:center;
}
.side-menu .item-content img{height: 30px; margin-right: 10px;}
.side-menu-list div{
  background-color: black;
}
.side-menu .item{
  border: none;
}
.side-menu-footer{
  background-color: black;
}
/*Styles for pages with user authentication DARK BG*/
.userAuth{
  background-color: #2f2f2f;
  color: #fff;
}
.userAuth img{
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
.userAuth h4, .userAuth h3{
  color:#fff;
  padding:0px 5px 0px 5px;
  margin: 0px 0px;
  font-weight: 600;
}
.login-page a{
  display: inline-block;
  width: 100%;
  text-align: center;
}
.progress-button{
  background-color:#ffa801;
  color: #fff;
}
.skip-button{
  background-color: #959595;
}
.countrySelector{
	margin-top:12.5px;
	overflow: visible;
	left: 0px;
}
.item{
	margin: 5px;
}
.slider {
  height: 100%;
}
.slider-slide {
  text-align: center;
  background-color:rgba(0,0,0,0); 
  color:white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}
.inline-select{
  display: inline-flex;
  width: 100%;
}
.inline-select label{
  display: inline-flex;
  width: 50%;
  height: 40px;
  margin-left: 0px;
  margin-right: 0px;
}
.inline-select select{
  top: 5px;
  left: 15px;
  padding-right: 0px;
  padding-left:0px;
}
.full-width-input{
  width: 100%;
  margin-bottom: 5px;
}
.theme-selector{

}
.themeSelect{
  display: inline-block;

}
.theme-row{
  display: flex;
  justify-content: space-around;
}
.theme-row > span{
  display:inline-block; 
  margin:5px; 
  width:73px;
  height:35px;
}
.theme1{background-color:#ffa801;}
.theme2{background-color:#F2B3A0;}
.theme3{background-color:#85F3FF;}
.theme4{background-color:#8DEBC4;}
.theme5{background-color:#D391ED;}
.theme6{background-color:#F58207;}
.theme7{background-color:#FF0A0A;}
.theme8{background-color:#1A8591;}
.theme9{background-color:#15BD77;}
.theme10{background-color:#9B41BF;}
.theme11{background-color:#FF6600;}
.theme12{background-color:#7D0202;;}
.theme13{background-color:#00555E;}
.theme14{background-color:#085736;}
.theme15{background-color:#43055C;}

/* Realtor Sign Up step 3 */ 
.realtor-step-3 {
  
}
.company-info h4, .company-info input{
  margin-bottom: 12px;
} 
.company-info select{
  font-size: 20px;
}
.company-info span{
  display:flex;
  justify-content:space-between;
}
.company-info select, .company-info span input{
  flex:1;
  margin: 2px;
}
.company-info input{
  width: 100%;
}
.realtor-signup-last-step input{
  width: 100%;
  margin: 5px 0px 5px 0px;
}
.sub-type select{
  width: 100%;
}
.billing-address .location-info span{
  display: flex;
  text-align: center;
}
.billing-address .location-info span input{
  margin: 0px 10px 10px 0px;
}
.billing-address .location-info span input:nth-child(2){
  margin-right: 0px;
}
.userAuth .btm-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.userAuth .btm-buttons input{
 width: 49%;
}
/*Realtor Last Step*/
.sub-type, .billing-info, .billing-address{
  margin-bottom: 10px;
}
.sub-type h4{
  margin-bottom: 5px;
}

/*Client step1*/
.activation-code{
  margin-bottom: 10px;
}
.activation-code i{
  font-size: 24px;
  padding-right: 6px;
}
.account-info .inline-select input{
  width: 49.5%;
}
.account-info h4{margin-bottom: 10px;}
/*Client sign up step2 */
.own-or-rent{
  display: inline-flex;
  flex-direction:column;
  width: 100%;
  margin-bottom: 10px;
}

/* Client Dashboard styles */
.item-complex .item-content{
  padding-right: 16px;
}
.clientDash .scroll-content{
  
}
.clientDash .bar{
  height: 55px;
  margin-bottom: 5px;
}
.clientDash .bar .title{
  left: -8px;
  height: 44px;
}

/* Client address details style*/
.address-details .section-header{
  background-color: #d7d7d7;
  color: black;
}
.address-details{
  background-color: #F7F7F9;
  color: black;
}
.address-details .section-header{padding: 10px; font-weight: 500;}
.address-details span{margin-bottom: 10px;}
.address-information .item-stacked-label{
  display: inline-block;
}
.address-details .section-content .input-label{
  width: inherit;
}
.address-information .span1, .address-information .span2, .important-information .span1, .important-information .span2, .important-information .span3, .additional-information div > span{
  display: inline-flex;
  white-space: nowrap;
  justify-content: space-between;
  width: 100%;
}
.address-information .span2 label, .important-information .span1 label, .important-information .span2 label{
  width: 33%;
}
.address-information .span1 label{width: 49%;}
.important-information .span3 label{width: 49%;}
.additional-information span label{width: 49%;}
.address-information .span1 input, .address-information .span2 input, .important-information .span1 input, .important-information .span2 input, .important-information .span3 input, .additional-information span input{
  width: 100%;
}
.address-information span{
 
}
.important-information .span1 label:first-child{
  display: inline-flex;
  flex-direction: column;
}
.important-information label select{height: 34px;}
.important-information .span1 span{
  width: 100%;
}
.address-details .section-content > label{
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
.address-details .btm-buttons button{width: 47%;}

/*Connect With My Agent*/
.connect-with-my-agent .agent-header{
  display: flex;
  flex-direction:column;
  align-items:center;
  height: 40%;
  width: 100%;
  background-color: rgb(70,70,70);
}
.connect-with-my-agent .agent-image-container{
    text-align: center;
    background-color: rgb(99,99,99);
    margin-top: 10px;
    border-radius: 50%;
    width: 33%;
}
img.agent-image
{
    border-radius: 50%;
    width: 94%;
    margin-top: 5px;
}
.agent-header h3, p{color: white;}
.agent-header p{text-align: center;}
.agent-header span img{height:30px;margin: 5px}
.agent-header span{display: inline-flex;align-items:center;}
.connect-with-my-agent .agent-info{
  background-color: rgb(247,247,249);
}
.agent-info p{color: black;}

/* Real Estate Dictionary */
.dictionary-content .search-div{
  margin-top: 2px;
}
.dictionary-content .item{margin:0px;}

/* TO-DO LIsts*/
.to-do-list .item{margin:0px;}